body {
    @include lato;
    margin:0;
    margin-left:auto;
    margin-right:auto;
}

main {
    margin-left:3em;
    margin-right:3em;
}

img {
    width:10em;
    height:5em;
}

#recette {
    display:none;
}